@model IEnumerable<Vendor.Domain.Entites.Products.Product>
@using Vendor.Domain.Entites.Products;
@{
    ViewData["Title"] = "IndexVendorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="extended">
    <div class="row justify-content-lg-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success mb-2 text-bold-700 font-size-1-3">
                        وندور
                    </div>
                </div>

                <div class="col-lg-12 container-fluid  text-right">
                    <a asp-area="VendorService" asp-controller="Products" asp-action="PrintPage"  class="btn btn-outline btn-success font-size-0-9"><i class="fas fa-print"></i> چاپ </a>
                </div>

                <div class="card-body m-3">
                    <div class="">
                        <table class="table table-responsive-md text-center table-bordered table-striped" id="mytable">
                            <thead class="thead-dark text-white">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Code)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProductType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Corroborant)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CompanyId)
                                    </th>
                                   
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                  
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductType.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Corroborant.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.Name)
                                    </td>
                                    
                                    <td>
                                        <a class="btn btn-sm btn-primary pull-right" onclick="Detail('@item.Id')">جزئیات</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>


        function Detail(Id) {
            var SendingUrl = '@Url.Action("Details", "Products")';
        var SendingData = 'Id=' + Id ;
            $.get(SendingUrl,
                SendingData,
                function (frmEdit) {
                    $("#itemEdit").html(frmEdit);
                    $("#edit-files").modal("show");

                });
    }


</script>

