@model Vendor.Domain.Entites.Companies.Company

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactoryUseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactoryUseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomicCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomicCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseLicenseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseLicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseLicenseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseLicenseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Randd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Randd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionMetod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionMetod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QcProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QcProgram)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResearchMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadUseLicensePic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadUseLicensePic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadStatutePic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadStatutePic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadOfficialnewspapers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadOfficialnewspapers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadProductCatalog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadProductCatalog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadDocuments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDocuments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UploadMemberOfTheInstitute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadMemberOfTheInstitute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnershipType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnershipType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyType.Id)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
